body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    text-align: center;
}

.timeline-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.timeline {
    width: 30%;
}

.event-details {
    width: 65%;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
